{% extends "layout.html" %}
{% block body %}
Test!!
<div id="my-canvas"></div>

<div id="svgdiv">
<ul>
{% for lnk in resp %}
	<li> <a href="http://localhost:5000/getdetails/{{ lnk }}">dataset {{ lnk }}</a></li>
 {% endfor %}	
 </ul>
</div>
   <script type="text/javascript" >
 
 // do some raphel stuff
 var paper = Raphael($("#my-canvas"),10, 50, 320, 200);

// Creates circle at x = 50, y = 40, with radius 10
var circle = paper.circle(50, 40, 10);
// Sets the fill attribute of the circle to red (#f00)
circle.attr("fill", "#f00");

circle.hover(function () {
    circle.attr({"stroke": "#000"});
  },
  function () {
    circle.attr({"stroke": "none"});
  }
);

for (i =0; i< 15; i++ ) {
	c2 = paper.circle(15+i, i+10, 10);
	c2.attr("fill","blue");
}
 
 	for(i=1;i<10;i++) {
     var svg = d3.select("#svgdiv")
      .append("svg")
      .attr("width", 100)   // <-- Here
      .attr("height", 200);
    
      // plain syntax for creating an svg
      // without data binding.
      var mySquare=svg.append("rect")
      .attr("id", "mysquare")
	  .attr("x",60)
	  .attr("y",60)
	  .attr("fill","blue")
	  .attr("stroke", "green")
	  .attr("width",60)
	  .attr("height",60);
	  
	  mySquare
	  .transition()
	  .attr("x",32)
	  .attr("y", 120);
	  }
</script>
{% endblock %}